
    <footer>
        <div class="footer">
            <center>
                <p>
                    <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
                    &copy; <a href="?license">GecK0ntent</a>
                </p>            
        </div>
    </footer>
</html>
