    <body>
        <header>
            <div class="header">
                <div class="sitename">
                    {SITENAME}
                </div>
                <div class="title">
                    {TITLE}
                </div>
            </div>
        </header>
        <content>
            <div class="content">
                {CONTENT}
            </div>
        </content>
    </body>