body {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.95em;
    background-color:#333333;
    color:infobackground;
    height: 100%;
}
.header {
    top: 0%;
    left: 5%;
    right: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 4em;
    position: fixed;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.85em;
    text-align: center;
    background-color: black;
}
.sitename {
    text-align:left;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;  
}
.title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.90em;
}

.content {
    position: fixed;
    margin-top: 4.5em;
    margin-bottom: 70px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    border: 1% solid black;
    
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.footer {
    text-align: center;
    height: 70px;
    position: fixed;
    margin-bottom: 0px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0%;
    bottom: 0%;
    left: 5%;
    right: 5%;
    padding-bottom: 1px;
    padding-right: 3%;
    padding-left:3%;
    padding-top: 1px;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 0.85em;
    color:infobackground;
    background-color: black;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

a:link {
    color:yellow
}

a:visited {
    color:orange
}

.debug { 
    font-size: 0.95em;
    color:yellowgreen; 
}
